@page
<header>
    <h1>Ultimate Tic Tac Toe</h1>
</header>
<div id="login-container">
    <input id="name-field" type="text" placeholder="Name..." /><br/>
    <button type="button" onclick="rename()">Enter</button>
</div>
<div id="lobby-container" class="hidden">
    <div id="name"></div>
    <h3>Open games:</h3>
    <div id="games"></div>
    <button type="button" onclick="newGame()">New Game</button>
</div>
<div id="game" class="hidden">
    <header>
        <h2 id="players">Waiting for other player...</h2>
    </header>
    <div id="board">
        @{
            for (var a = 0; a < 9; a++)
            {
                <text>
                    <div class="area">
                        @{
                            for (var f = 0; f < 9; f++)
                            {
                                <text>
                                    <div class="field"></div></text>
                            }
                        }
                    </div></text>
            }
        }

    </div>
</div>

<uttt-board></uttt-board>

<div id="snackbar">
    <div id="snackbar-content"></div>
</div>
