@page
<div id="config">
    <input id="game-id" type="text" />
    <button id="join-button" type="button">JOIN</button>
</div>
<br/>
<div id="board">
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
    <div class="area">
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
        <div class="field">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/game.js"></script>
}
